<!DOCTYPE html>
<html>
<head>
	<title>my html practise</title>
</head>
<body>
<h1 align="center">ABOUT ME</h1>

<p align="left"><%= link_to "return HOME", root_path %></p>

<p>
	<table>
		
			<tr>
				
					<th>
						<h3>This is First Section</h3></th>
				
					<th><h3>This is the second section</h3></th>
			</tr>

			<tr>

				<td>Hello, Do you know you can do something</td>

					
				<td>More so you can do it</td>
			</tr>

				
			<tr>	
				<td>How ever you like to</td>
				<td>Hello, Do you know you can do something</td>		
			</tr>

			<tr>
				<td>More so you can do it</td>
				<td>More so you can do it</td>
			</tr>



		
				

	</table>
</body>
</html>